* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}
h1 {
    text-align: center;
    color: gold;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(149, 16, 161);
    font-family: 'Poppins', sans-serif;
    display: flex;
}

#navbar li a:hover{
    background-color: #df9bce;
}
.logo {
    color: rgb(212, 209, 209);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.links {
    display: inline-block

}
.links li{
    list-style: none;
}
.links a{
    color: rgb(212, 209, 209);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}
img {
    float: left;
}
.low {
    color : blue;
    text-decoration: underline;
    text-align: left;
}
.list {
    color: turquoise;
    list-style-type: none;
}
body {
    justify-content: space-around;
    background-image: url(../images/IMG-20190410-WA0027.jpg);
    background-size: cover;
}
.list {
    text-align: right;
}