* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(149, 16, 161);
    font-family: 'Poppins', sans-serif;
}
.logo {
    color: rgb(212, 209, 209);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.links {
    display: inline-block

}
.links li{
    list-style: none;
}
.links a{
    color: rgb(212, 209, 209);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}
img {
    float: left;
}
.high{
    color: tomato;
    text-decoration: underline;
    text-align: center;
}
.low {
    color:gold;
    text-decoration: underline;
    text-align: center;
}
.list {
    color: brown;
    list-style-type: disc;
}